<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="AVEVASandT" value="https://pkgs.dev.azure.com/AVEVA-VSTS/_packaging/AVEVA-SandT/nuget/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <apikeys>
  </apikeys>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
    <add key="development" value="true" />
  </disabledPackageSources>
</configuration>